*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: grey;
    padding-top: 0;
    padding-right: 0;
    padding-left:5px;
    padding-bottom:5px;
    border:2px solid black;
    
    overflow:auto ;
    width:32%;
    height:220px;
    margin-right:20px;
    margin-bottom: 20px;
    float:left;
    
}
div #he1{
    background-color:pink;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 0;
    border-top: 0;
    position: relative;
   
    text-align: center;
    width:80px;
    height:30px;
    display:block;
    float:right;
    margin-right: 0;
    margin-top:0;
}
div .he2{
    background-color: red;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 0;
    border-top: 0;
    position: relative;
    color: white;
    overflow:hidden;
    display:block;
    text-align: center;
    padding: 5px;
    width:80px;
    height:30px;
    float:right;
    margin-right: 0;
    margin-top:0;
}
div #he3{
    background-color: yellow;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 0;
    border-top: 0;
    position: relative;
    overflow:hidden;
    text-align: center;
    padding: 5px;
    width:80px;
    height:30px;
    margin:0;
    float:right;
    margin-right: 0;
    margin-top:0;
    
}
@media (min-width: 1200px){
    #d1{
        width:30%;
    }
    #d2{
        width:30%;
    }
    #d3{
        width:30%;
    }
   
    
}
@media (min-width: 992px) and (max-width: 1199px){
    #d1{
        width:44%;
    }
    #d2{
        width:44%;
    }
    #d3{
        width:90%;
    }

}
@media(max-width: 991px){
    #d1{
        width:88%;
    }
    #d2{
        width:88%;
    }
    #d3{
        width:88%;
    }

}
